#calcBody {
    display: flex;
    margin: auto;
    background-color: lightgray;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    padding: 5px;
}

#display {
    background-color: lightblue;
    border-radius: 5px;
    text-align: right;
    width: 90%;
    padding-right: 10%;
    align-self: center;
    border: 1px black solid;

}

#clrdel {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

#clear {
    background-color: lightcoral;
    text-align: center;
    width:50%;
    border-radius: 5px;
}

#delete {
    background-color: lightblue;
    text-align: center;
    width: 50%;
    border-radius: 5px;
}

.numRow {
    display: flex;
    width:100%;
}

.numPad {
  width:25%;
  align-items: center;
}